@import "../../../styles/global.scss";

.portfolioContent {
  .projectBox {
    display: flex;
    margin: 40px 0;
    border: 6px solid $clrLight;
    width: 100%;
    height: 340px;
    position: relative;

    .boxLeft {
      background: $clrLight;
      width: 340px;
      display: flex;
      position: relative;

      a {
        display: flex;
        height: 60px;
        width: 140px;
        position: absolute;
        text-decoration: none;
        transition: $transition;
        top: 100px;
        z-index: 2;

        i {
          transform: scale(1.5);
          font-size: 40px;
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: $transition;
        }

        p {
          font-size: 20px;
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          text-transform: uppercase;
          font-weight: bold;
          opacity: 0;
          transition: $transition;
        }

        &:first-of-type {
          flex-direction: row-reverse;
          right: 10px;
          color: $clrDark;
        }
        &:last-of-type {
          right: -150px;
          color: $clrLight;
        }
      }
    }

    img {
      position: absolute;
      top: 44px;
      right: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: $transition;
      height: 200px;
    }

    .projectTitle {
      position: absolute;
      right: 100px;
      z-index: 1;
      transition: $transition;
      bottom: 26px;
      text-transform: uppercase;
      padding: 10px;
      font-size: 20px;
      font-weight: bold;
      background: $clrLight;
      color: $clrDark;
    }

    .desc {
      border: 6px solid $clrDark;
      background: $clrLight;
      color: $clrDark;
      font-size: 20px;
      font-size: 18px;
      width: 50%;
      height: 92px;
      transition: $transition;
      position: absolute;
      bottom: 20px;
      left: 60px;
      text-transform: uppercase;
      overflow: hidden;
      text-align: center;
      :first-child {
        height: 80px;
        z-index: 1;
        transition: $transition;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      :last-child {
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        height: 0;
        transition: $transition;
        transform: translateY(0);
      }
    }

    &.even {
      flex-direction: row-reverse;
      .boxLeft {
        a {
          &:first-of-type {
            flex-direction: unset;

            left: 10px;
          }
          &:last-of-type {
            flex-direction: row-reverse;
            left: -150px;
          }
        }
      }

      img {
        left: 60px;
      }

      .projectTitle {
        right: unset;
        left: 100px;
      }

      .desc {
        left: unset;
        right: 60px;
      }
    }
  }

  .projectBox:hover {
    .boxLeft {
      a {
        top: 0;
        i {
          transform: scale(1);
        }
        p {
          opacity: 1;
        }

        &:first-of-type {
          right: 0;
        }
        &:last-of-type {
          right: -140px;
        }

        &:hover {
          color: $clrGold;
        }
      }
    }

    img {
      top: 0;
      right: 0;
      height: 328px;
    }

    .projectTitle {
      right: 460px;
    }

    .desc {
      height: 180px;
      bottom: 80px;
      left: -30px;
      :last-child {
        opacity: 1;
        height: 108px;
      }
    }

    &.even {
      a {
        &:first-of-type {
          left: 0;
        }
        &:last-of-type {
          left: -140px;
        }
      }
      img {
        left: 0;
      }

      .projectTitle {
        right: unset;
        left: 460px;
      }

      .desc {
        left: unset;
        right: -30px;
      }
    }
  }
}

@media (max-width: 992px) {
  .portfolioContent {
    .projectBox {
      .boxLeft {
        width: 80px;
        flex-direction: column;
        justify-content: space-evenly;

        a {
          color: $clrDark;
          flex-direction: column;
          height: 50%;
          justify-content: center;
          width: 100%;
          position: unset;
          text-decoration: none;
          text-align: center;

          i {
            transform: unset;
            width: unset;
            padding: 20px 0;
          }

          p {
            font-size: 16px;
            flex: 1;
            display: unset;
            opacity: 1;
          }

          &:first-of-type {
            flex-direction: column;
            right: 0;
          }
          &:last-of-type {
            right: unset;
            color: $clrDark;
          }
        }
      }

      img {
        top: 0;
        right: 0;
        display: unset;
        height: 80%;
      }

      .projectTitle {
        right: 20px;
        bottom: 14px;
        padding: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: unset;
        width: unset;
      }

      .desc {
        background: $clrDark;
        color: $clrLight;
        font-size: 16px;
        width: 220px;
        height: 100%;
        position: unset;
        padding: 4px;
        :first-child {
          height: 50%;
        }
        :last-child {
          height: 50%;
          opacity: 1;
        }
      }

      &.even {
        flex-direction: row;
        .boxLeft {
          a {
            &:first-of-type {
              flex-direction: column;
              left: unset;
            }
            &:last-of-type {
              flex-direction: column;
              left: unset;
            }
          }
        }

        img {
          left: unset;
        }

        .projectTitle {
          right: 20px;
          left: unset;
        }

        .desc {
          right: unset;
          :last-child {
            opacity: 1;
          }
        }
      }
    }

    @media (min-height: 993px) {
      .projectBox:hover {
        img {
          height: 80%;
        }
        .projectTitle {
          right: 20px;
        }

        .desc {
          height: 100%;
          bottom: unset;
          left: unset;
          :last-child {
            height: 50%;
          }
        }

        &.even {
          a {
            &:first-of-type {
              left: unset;
            }
            &:last-of-type {
              left: unset;
            }
          }
          img {
            left: unset;
          }

          .projectTitle {
            left: unset;
            right: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .portfolioContent {
    .projectBox {
      margin: 20px 0;
      border: 6px solid $clrLight;
      height: 500px;
      position: relative;
      display: flex;
      flex-direction: column;

      .boxLeft {
        background: $clrLight;
        width: 100%;
        display: flex;
        flex-direction: row;
        height: unset;
        justify-content: space-between;
        bottom: 0;
        position: absolute;
        padding-top: 6px;

        a {
          height: 40px;
          color: $clrDark;
          display: flex;
          align-items: center;
          justify-content: space-evenly;

          width: 44%;
          text-decoration: none;

          i {
            font-size: 40px;
          }

          p {
            font-size: 20px;
            text-transform: uppercase;
            font-weight: bold;
          }

          &:first-of-type {
            flex-direction: row-reverse;
          }
          &:last-of-type {
            flex-direction: row;
          }
        }
      }

      img {
        position: unset;
        top: unset;
        right: unset;
        height: unset;
        width: 100%;
        min-height: 272px;
      }

      .projectTitle {
        position: unset;
        text-transform: uppercase;
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 50px;
        background: $clrDark;
        color: $clrLight;
      }

      .desc {
        left: unset;
        bottom: unset;
        border: 10px solid $clrDark;
        background: $clrLight;
        color: $clrDark;
        height: 116px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-transform: unset;
        text-align: center;
        :first-child {
          height: 54px;
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        :last-child {
          height: 62px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      &.even {
        flex-direction: column;
        .boxLeft {
          a {
            height: 40px;
            &:first-of-type {
              flex-direction: row-reverse;
            }
            &:last-of-type {
              flex-direction: row;
            }
          }
        }

        img {
          height: unset;
          min-height: 272px;
        }

        .desc {
          height: 116px;
        }
      }
    }

    .projectBox:hover {
      img {
        height: unset;
        min-height: 272px;
      }
      .projectTitle {
        right: 20px;
      }

      .desc {
        height: 116px;
        bottom: unset;
        left: unset;
        :first-child {
          height: 54px;
        }
        :last-child {
          height: 62px;
        }
      }

      &.even {
        a {
          &:first-of-type {
            left: unset;
          }
          &:last-of-type {
            left: unset;
          }
        }
        img {
          left: unset;
        }

        .projectTitle {
          left: unset;
          right: 20px;
        }
      }
    }
  }
}
