@import "./settings.scss";
@import "./typography.scss";
@import "./normalize.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

body {
  background: $clrLight;
}

.container {
  // border: 1px dotted red;
  margin: 0 auto;
  max-width: 1280px;
}

section.pageSection {
  padding: 0 60px;
  min-height: 100vh;
  position: relative;
  border: 1px solid blue;

  &:nth-of-type(2),
  &:nth-of-type(4) {
    background: $clrDark;
    color: $clrLight;
  }

  section.pageContent {
    min-height: 100vh;
    padding: 20px;
  }
}

aside {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.btnNext {
  // background: red;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 80px;
  text-decoration: none;
  color: $clrGold;
  transition: $transition;

  &:hover {
    color: $clrGold-hover;
  }
}

@media (max-width: 992px) {
  .container {
    // border: 1px dotted red;
    // margin: 0 auto;
    max-width: 100%;
  }

  section.pageSection {
    padding: 0;
    padding-right: 60px;

    section.pageContent {
      padding-right: 20px;
    }
  }
}

@media (max-width: 700px) {
  section.pageSection {
    padding: 0;
    // border: 1px solid blue;

    &:nth-last-of-type(1) {
      padding-bottom: 60px;
    }
  }

  aside {
    top: unset;
    bottom: 0;
    right: 50%;
    transform: translateY(0) translateX(50%);
    background: $clrDark;
    width: 100%;
  }
}
