@import "../../../styles/global.scss";

nav {
  height: 300px;
  display: flex;
  flex-direction: column;
  // z-index: 10;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    text-decoration: none;
    color: $clrGold;
    font-size: 30px;
    transition: $transition;
    position: relative;
    p {
      position: absolute;
      font-size: 16px;
      left: -180%;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      opacity: 0;
      transform: translateX(150px);
      transition: $transition;
      letter-spacing: 2px;
      padding: 4px 2px;
    }

    &:hover {
      color: $clrGold-hover;
    }
  }

  &:hover a {
    p {
      background: $clrLight;
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@media (max-width: 700px) {
  nav {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    a {
      p {
        display: none;
      }
    }
  }
}
