@import "../../../styles/global.scss";

nav {
  height: 300px;
  display: flex;
  flex-direction: column;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    text-decoration: none;
    color: $clrGold;
    font-size: 30px;
    transition: $transition;

    &:hover {
      color: $clrGold-hover;
    }
  }
}

@media (max-width: 700px) {
  nav {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
